#div1{
    background-color: black;
    height: 200px;
}
.div2{
    background-color: white;
    height: 20px;
}
#div3{
    background-color: red;
    height: 200px;
}
#div4{
    background-color: green;
    height: 200px;
    
}